@page "/counter"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http

<h3>Tu counter</h3>



<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
</table>


@code {

}
