@page "/rules"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><span size="4" style="font-size:20px;"><em><strong>REGULAMIN KONKURSU RODZINNEGO&nbsp;</strong></em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><strong>EURO 2024 NIEMCY</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><span size="3" style="font-size:17px;"><em><strong>1. UCZESTNICY KONKURSU&nbsp;</strong></em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em>1. W konkursie rodzinnym&nbsp;</em></span><span size="2" style="font-size:15px;"><em>EURO 2024&nbsp;</em></span><span size="2" style="font-size:15px;"><em>NIEMCY</em></span><span size="2" style="font-size:15px;"><em>, kt&oacute;ry będzie odbywał sie&nbsp;</em></span><span size="2" style="font-size:15px;"><em><u>od dnia&nbsp;</u></em></span><span size="2" style="font-size:15px;"><em><u>14.06.2024</u></em></span><span size="2" style="font-size:15px;"><em><u>&nbsp;roku</u></em></span><span size="2" style="font-size:15px;"><em>&nbsp;</em></span><span size="2" style="font-size:13px;"><em>(mecz otwarcia&nbsp;</em></span><span size="2" style="font-size:13px;"><em>Niemcy</em></span><span size="2" style="font-size:13px;"><em>&nbsp;&ndash;&nbsp;</em></span><span size="2" style="font-size:13px;"><em>Szkocja</em></span><span size="2" style="font-size:13px;"><em>)</em></span><span size="2" style="font-size:15px;"><em>&nbsp;</em></span><span size="2" style="font-size:15px;"><em><u>do dnia&nbsp;</u></em></span><span size="2" style="font-size:15px;"><em><u>14.07.2024</u></em></span><span size="2" style="font-size:15px;"><em><u>&nbsp;ro</u></em></span><span size="2" style="font-size:15px;"><em>ku&nbsp;</em></span><span size="2" style="font-size:13px;"><em>(finał)</em></span><span size="2" style="font-size:15px;"><em>&nbsp;dopuszcza się jako uczestnik&oacute;w następujące osoby&nbsp;</em></span><span size="2" style="font-size:13px;"><em>(kolejność ustalona według daty urodzenia)</em></span><em>, kt&oacute;rym nadaje się na potrzeby porządkowe niniejszego konkursu stosowne numery kolejnościowe i symbolikę w spos&oacute;b następujący:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><strong>n</strong><strong>ull</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><strong>2. ISTOTA KONKURSU</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>2. Istota niniejszego konkursu sprowadza sie do zebrania przez danego uczestnika jak największej ilości punkt&oacute;w we wszystkich prowadzonych kategoriach konkursu, kt&oacute;rych spos&oacute;b i zasady uzyskiwania przedstawione są poniżej.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><strong>3. ZASADY PRZYDZIELANIA PUNKT&Oacute;W W KONKURSIE</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>3. W konkursie przydziela się dla poszczeg&oacute;lnych graczy punkty w poszczeg&oacute;lnych kategoriach wg następujących zasad:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.1 Kategoria: &quot;<strong>SUMA PKT ZEBRANYCH WE WSZYSTKICH MECZACH&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em>(51 meczy: 36 mecze - faza grupowa, 8 meczy - 1/8 finału, 4 mecze - 1/4 finału, 2 mecze - 1/2 finału, 1 mecz &ndash; finał)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><strong>Zasady:</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdy rozegrany mecz na EURO 2024 przydziela sie danemu graczowi punkty w spos&oacute;b następujący:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>a) prawidłowe wytypowanie zwycięzcy meczu: (1, lub 2): 2 pkt,</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>b) typowanie na zasadzie podw&oacute;jnej szansy (1X, 12, 2X): 1 pkt</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>c) prawidłowe wytypowanie remisu w meczu (bez dogrywki): 3 pkt</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>d) prawidłowe wskazanie ilości goli w meczu: 2 pkt</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>e) prawidłowe wytypowanie dokładnego wyniku meczu: 5 pkt</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Gracz sam decyduje czy wybiera opcję a) czy b) czy c).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em>Każdy z graczy obowiązkowo typuje zdarzenie d) i e).&nbsp;</em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Poszczeg&oacute;lne typy tzn.: a) lub b) lub c) oraz d) i e) sa niezależne. Można obstawić dokładny wynik 2:1 a jako zwycięzcę wskazać typ &quot;2&quot; i np. Ilość goli w meczu: 1</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Ilość pkt uzyskana za dany mecz to suma pkt z opcji a) lub b) lub c) i d) i e).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przykład:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>mecz Niemcy - Szkocja wynik meczu: 2:0</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- gracz, kt&oacute;ry postawił na zwycięstwo Niemiec (1), dokładny wynik meczu 2:0, ilość goli 3 uzyskuje za to zdarzenie 7 pkt (2 pkt+5 pkt+0 pkt)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- gracz, kt&oacute;ry wskazał podw&oacute;jną szansę X2 (remis lub zwycięstwo Niemiec), dokładny wynik 1:2, ilość goli 2 uzyskuje za to zdarzenie 3 pkt (1 pkt + 0 pkt + 2 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 324 pkt (36 meczy x 9 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.2 Kategoria: &quot;</u><u><strong>DRUŻYNY WYCHODZĄCE Z GRUP Z 1,2 MIEJSCA&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Każdy z graczy typuje z poszczeg&oacute;lnej grupy (od A do F - 6 grup) po 2 drużyny wychodzące z grupy z 1 i 2 miejsca.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 3 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Jeśli wskazano prawidłowo miejsce w grupie dodatkowo otrzymuje gracz 1 pkt</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przykład:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>z grupy A z 1 miejsca wychodzi Niemcy, z 2 miejsca Szkocja.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:13px;"><em>- gracz, kt&oacute;ry wytypował prawidłowo Niemcy (1 miejsce) i Szkocję (2 miejsce) otrzymuje łącznie 8 pkt (2 x 3 pkt + 2 x 1 pkt)&nbsp;</em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- gracz, kt&oacute;ry wytypował na 1 miejscu Szkocję, na drugim Niemcy otrzymuje łącznie 6 pkt (2 x 3 pkt)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 64 pkt (8 grup x 8 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.3 Kategoria: &quot;<strong>ZWYCIĘZCY 1/8 FINAŁU&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><u>&nbsp;<em>Zasady:</em></u></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><em>- Każdy z graczy typuje zwycięskie drużyny w 1/8 finału</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 4 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przykład:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- gracz, kt&oacute;ry prawidłowo wytypował 3 zwycięskie drużyny otrzymuje łącznie 12 pkt (3 x 4 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 32 pkt (8 meczy x 4 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.4. Kategoria: &quot;<strong>ZWYCIĘZCY 1/4 FINAŁU&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><em><u>Zasady:</u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><em>- Każdy z graczy typuje zwycięskie drużyny w 1/4 finału</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 5 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przykład:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz, kt&oacute;ry prawidłowo wytypował 2 zwycięskie drużyny otrzymuje łącznie 10 pkt (2 x 5 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 20 pkt (4 meczy x 5 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.5. Kategoria: &quot;<strong>ZWYCIĘZCY 1/2 FINAŁU&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><em><u>Zasady:</u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: left;"><em>- Każdy z graczy typuje zwycięskie drużyny w 1/2 finału</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 8 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przykład:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz, kt&oacute;ry prawidłowo wytypował 1 zwycięską drużynę otrzymuje 8 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 16 pkt (2 meczy x 8 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.6. Kategoria: &quot;<strong>PIERWSZA CZW&Oacute;RKA TURNIEJU&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Każdy z graczy typuje pierwsze 4 drużyny turnieju EURO NIEMCY 2024 z zachowaniem kolejności (typowanie przed rozpoczęciem turnieju)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 12 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- dodatkowo za prawidłowe wskazanie miejsca odpowiednio: 1 miejsce -16 pkt, 2 miejsce - 11 pkt, 3 miejsce - 6 pkt, 4 miejsce - 4 pkt</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przykład:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>1.Francja 2.Anglia 3.Niemcy 4.Polska</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- gracz, kt&oacute;ry wytypował 1.Francja 2.Włochy 3.Polska 4.Niemcy</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>otrzymuje łącznie 52 pkt ( 12 pkt x 3 + 16 pkt)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 85 pkt (4 x 12 pkt +16 pkt + 11 pkt + 6 pkt + 4 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.7 Kategoria: <strong>&nbsp;&quot;KTO LEPSZY W GRUPIE&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Każdy z graczy typuje z 12 par drużynę lepszą w danej grupie (po 2 pary z każdej grupy)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 3 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 36 pkt (12 x 3 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><span size="3" style="font-size:16px;"><em><u>3.8 Kategoria:&nbsp;</u></em></span><span size="3" style="font-size:16px;"><em><u><strong>&quot;STRZELCY&nbsp;</strong></u></em></span><span size="3" style="font-size:16px;"><span lang="zxx"><em><u><strong>EURO 2024 NIEMCY</strong></u></em></span></span><em><u><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em>- Każdy z graczy typuje 6 najlepszych strzelc&oacute;w turnieju MUNDIAL EURO 2024 z zachowaniem kolejności spośr&oacute;d graczy wymienionych w wykazie&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- Za każde prawidłowe wskazanie strzelca z pierwszej sz&oacute;stki gracz otrzymuje 4 pkt, dodatkowo za prawidłowe wytypowanie pierwszej tr&oacute;jki strzelc&oacute;w po 6 pkt za każdego strzelca</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- za trafne wytypowanie kr&oacute;la strzelc&oacute;w dodatkowo 10 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 52 pkt (6 x 4 pkt + 3 x 6 pkt + 10 pkt).</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><span size="3" style="font-size:16px;"><em><u>3.9 Kategoria:&nbsp;</u></em></span><span size="3" style="font-size:16px;"><em><u><strong>&quot;NAJLEPSZY PIŁKARZ&nbsp;</strong></u></em></span><span size="3" style="font-size:16px;"><span lang="zxx"><em><u><strong>EURO 2024 NIEMCY</strong></u></em></span></span><em><u><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em>- Każdy z graczy typuje 6 najlepszych piłkarzy turnieju EURO NIEMCY 2024 z zachowaniem kolejności spośr&oacute;d graczy wymienionych w wykazie&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- Za każde prawidłowe wskazanie piłkarza z pierwszej sz&oacute;stki gracz otrzymuje 4 pkt, dodatkowo za prawidłowe wytypowanie pierwszej tr&oacute;jki piłkarzy po 6 pkt za każdego piłkarza</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- za trafne wytypowanie najlepszego piłkarza (1 miejsce) - 10 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 52 pkt (6 x 4 pkt + 3 x 6 pkt + 10 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.10 Kategoria: <strong>&nbsp;&quot;KTO LEPSZY&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO NIEMCY 2024</strong><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Każdy z graczy typuje z 12 par drużynę lepszą na MUNDIALU EURO 2024 (klasyfikacja końcowa)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 3 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 36 pkt (12 x 3 pkt).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.11 Kategoria: <strong>&nbsp;&quot;</strong><strong>NAJLEPSZA DRUŻYNA W FAZIE GRUPOWEJ</strong><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Każdy z graczy typuje 3 najlepsze drużyny w fazie grupowej (punkty, stosunek bramek, ilość z&oacute;łtych i czerwonych karte.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>klepszą na MUNDIALU EURO 2024 (klasyfikacja końcowa)</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdą prawidłowo wytypowaną drużynę gracz otrzymuje 5 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- dodatkowo 5 pkt za wskazanie najlepszej drużyny na 1 miejscu.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 20 pkt.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><span size="3" style="font-size:16px;"><em><u>3.</u></em></span><span size="3" style="font-size:16px;"><em><u>12</u></em></span><span size="3" style="font-size:16px;"><em><u>&nbsp;Kategoria:&nbsp;</u></em></span><span size="3" style="font-size:16px;"><em><u><strong>&quot;</strong></u></em></span><span size="3" style="font-size:16px;"><span lang="zxx"><em><u><strong>PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ&nbsp;</strong></u></em></span></span><span size="3" style="font-size:16px;"><span lang="zxx"><em><u><strong>Ż</strong></u></em></span></span><span size="3" style="font-size:16px;"><span lang="zxx"><em><u><strong>&Oacute;ŁTYCH I CZERWONYCH KARTEK</strong></u></em></span></span><em><u><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Każdy z graczy typuje 5 piłkarzy turnieju EURO NIEMCY 2024 z najwieksza iloscią z&oacute;łtych i czerwonych kartek (ż&oacute;lta &ndash; 1pkt, czerwona &ndash; 2 pkt)</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- Za każde prawidłowe wskazanie ww.piłkarza gracz otrzymuje 3 pkt, dodatkowo za prawidłowe wytypowanie najgorszego gracza 4 pkt.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 19 pkt (5 x 3 pkt + 4 pkt ).</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.13 Kategoria: <strong>&nbsp;&quot;</strong><strong>ZŁOTA RĘKAWICA</strong><strong>&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO NIEMCY 2024</strong><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em>- Każdy z graczy typuje 3 najlepszych bramkarzy na MUNDIALU EURO 2024&nbsp;</em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdego prawidłowo wytypowanego bramkarza gracz otrzymuje 3 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- dodatkowo za wskazanie najlepszego bramkarza 5 pkt.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 14 pkt (3 x 3 pkt + 5).</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.14 Kategoria: <strong>&nbsp;&quot;</strong><strong>PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ ASYST</strong><strong>&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO NIEMCY 2024</strong><strong>&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em>- Każdy z graczy typuje 4 najlepszych piłkarzy na MUNDIALU EURO 2024 pod wzgledem ilości asyst.&nbsp;</em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Za każdego prawidłowo wytypowanego piłkarza gracz otrzymuje 3 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Dodatkowo za wskazanie najlepszego piłkarza 5 pkt.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Przy r&oacute;wnej ilości asyst decyduje ilość goli. Czas gry preferowany mniejszy przy r&oacute;wnej ilości goli i asyst.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W tej kategorii dany gracz może zdobyć maksymalnie 17 pkt (4 x 3 pkt + 5).</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u>3.15 Kategoria: <strong>&quot;KLASYFIKACJA RODZIN&quot;</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>Zasady:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>- Ustala się na potrzeby konkursu skład 2 rodzin:</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>a) Rodzina nr 1 w składzie 3-osobowym do kt&oacute;rej należą:gracze: K,B,D</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><em>b) Rodzina nr 2 w składzie 5-osobowym do kt&oacute;rej należą gracze: M,G,NK,NL, NS</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Każda z rodzin zbiera punkty, bedące sumą punkt&oacute;w wszystkich członk&oacute;w rodziny zdobytych we wszystkich z kategorii wymienionych w punkcie od 3.1 do 3.9 regulaminu.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><em><u><strong>4. ZASADY PRZYDZIELANIA NAGR&Oacute;D W KONKURSIE</strong></u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W konkursie MUNDIAL EURO 2024 NIEMCY organizator przewiduje dwa typy nagr&oacute;d dla uczestnik&oacute;w.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>4.1. <strong>NAGRODY PIENIĘŻNE</strong></u></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady przyznawania nagr&oacute;d pieniężnych:</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Przydziela się dla każdego z uczestnik&oacute;w nagrody pieniężne wg sumarycznej ilości zdobytych punkt&oacute;w we wszystkich z kategorii wymienionych w punkcie od 3.1 do 3.14.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Wysokość tej nagrody uzależniona jest od ilości zdobytych punkt&oacute;w przez każdego uczestnika w stosunku do ilości wszystkich punkt&oacute;w zdobytych przez wszystkich uczestnik&oacute;w.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>Ilość punkt&oacute;w uzyskanych przez danego gracza / Ilość punkt&oacute;w uzyskanych przez wszystkich graczy x pula nagrodowa</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>Organizator ustala pulę nagrodową podstawową w kwocie 1000 złotych</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Kwota wygranej uzyskana przez gracza nr 1 (K) w zależności od ilości zdobytych punkt&oacute;w) jest dzielona w r&oacute;wnych częściach na poszczeg&oacute;lnych pozostałych 7 graczy &ndash; gracz nr 1 bierze udział w zdobywaniu punkt&oacute;w lecz jest wyłączony jako organizator z otrzymania odpowiedniej nagrody przekazując ją jak wskazano wyżej na pozostałych uczestnik&oacute;w.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: justify;"><em><u>Przykład:</u></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Wszyscy gracze w turnieju zdobyli 15000 pkt z czego:</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 1: 3500 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 2: 3000 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 3: 2500 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 4: 2000 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 5: 1500 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 6: 1000 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 7: 1000 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 8: 500 pkt</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Każdy z graczy wg zdobytych przez siebie ilości pkt uzyskuje nagrody w wysokości odpowiednio:</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 2: 200,00 PLN</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 3: 166,66 PLN</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 4: 133,33 PLN i tak dalej....</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Z uwagi, iż gracz nr 1 zgromadził 3500 pkt co daje wygraną 233,33 PLN dzieli się przez 7) na graczy od nr 2) do nr 8) do daje 33,33 zł na każdego z 7 &ndash; ciu graczy i dopisuje się każdemu z nich ww. kwotę czyli ostatecznie gracze wygrywają:</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 2: 200,00 PLN+ 33,33 = 233,33 PLN</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 3: 166,66 PLN + 33,33 = 200,00 PLN</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- gracz nr 4: 133,33 PLN + 33,33 PLN = 166,66 PLN i tak dalej....</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2 <strong>NAGRODY RZECZOWE - ZDRAPKI</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady: w tej kategorii nagr&oacute;d zasady dla wszystkich graczy są jednakowe.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.1 <strong>&quot;ZWYCIĘZCA DNIA&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em><span style="text-decoration: none;"><span style="font-weight: normal;">Każdego dnia turnieju&nbsp;</span></span></em></span><span size="2" style="font-size:15px;"><span lang="zxx"><em><span style="text-decoration: none;"><span style="font-weight: normal;">EURO 2024 NIEMCY</span></span></em></span></span><span size="2" style="font-size:15px;"><em><span style="text-decoration: none;"><span style="font-weight: normal;">&nbsp;kiedy rozgrywane sa mecze przydziela się dla zwycięzcy danego dnia nagrodę w postaci zdrapki o wartości&nbsp;</span></span></em></span><span size="2" style="font-size:15px;"><em><span style="text-decoration: none;"><strong>3</strong></span></em></span><em><span style="text-decoration: none;"><strong>&nbsp;zł.</strong></span></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wszystkie mecze rozgrywane danego dnia.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Nagrody będą przydzielane w dniach:</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- od 14.06.2024 do 26.06.2024 codziennie (faza grupowa) &ndash; 13 dni</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- w dniach od 29.06.2024 do 02.07.2024 roku(1/8 finału) &ndash; 4 dni</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- w dniach od 05.07.2024 do 06.07.2024 (1/4 finału) &ndash; 2 dni</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- w dniach 09.07.2024 do 10.07.2024 (1/2 finału) &ndash; 2 dni</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>- w dniu 14.07.2024 ( finał ) 1 dzień</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Łącznie w tej kategorii będzie przydzielonych losowo <u><strong>2</strong></u><u><strong>2</strong></u><u><strong>&nbsp;nagrody (2</strong></u><u><strong>2</strong></u><u><strong>&nbsp;zdrapki po&nbsp;</strong></u><span lang="zxx"><u><strong>3</strong></u></span><u><strong>&nbsp;zł)</strong></u></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:13px;"><em>Przykład:&nbsp;</em></span></p>
<ul>
    <li>
        <p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>14.06.2024 roku rozgrywany jest tylko jeden mecz NIEMCY &ndash; SZKOCJA w zwiazku z czym gracz, kt&oacute;ry zdobędzie najwięcej punkt&oacute;w za ten mecz będzie &quot;zwycięzcą dnia&quot;</em></p>
    </li>
    <li>
        <p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>22.11.2022 roku rozgrywane są 4 mecze w związku z czym gracz, kt&oacute;ry zdobędzie w sumie najwięcej punkt&oacute;w za te 4 mecz będzie &quot;zwycięzcą dnia&quot;</em></p>
    </li>
</ul>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Jeżeli co najmniej 2 graczy zdobyło taka samą ilość punkt&oacute;w decyduje losowanie, kt&oacute;re wyłania tylko 1 zwycięzcę.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.2. <strong>&nbsp;PUNKTY ZEBRANE WE WSZYSTKICH MECZACH</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wszystkie mecze rozgrywane na EURO 2024 NIEMCY</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania<strong>&nbsp;</strong><u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>10</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.1 regulaminu Kategoria:&quot;SUMA PKT ZEBRANYCH WE WSZYSTKICH MECZACH&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><span size="3" style="font-size:16px;"><em>4.2.3 <strong>PUNTY ZEBRANE ZA TYPOWANIE 2 DRUŻYN WYCHODZĄCYCH Z POSZCZEG&Oacute;LNYCH GRUP&nbsp;</strong></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie 16 drużyn.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości 5 zł.</strong></u><strong>&nbsp;</strong></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.2 regulaminu Kategoria:&quot;DRUŻYNY WYCHODZĄCE Z GRUP Z 1,2 MIEJSCA&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.4 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE DRUŻYN w 1/8 FINAŁU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie zwycięzc&oacute;w 1/8 finału.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.3 regulaminu Kategoria: &quot;ZWYCIĘZCY 1/8 FINAŁU&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.5 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE DRUŻYN w 1/4 FINAŁU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie zwycięzc&oacute;w 1/4 finału.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5&nbsp;</strong></u><u><strong>zł.</strong></u><strong>&nbsp;</strong></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.4 regulaminu Kategoria: &quot;ZWYCIĘZCY 1/4 FINAŁU&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.6 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE DRUŻYN w 1/2 FINAŁU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie zwycięzc&oacute;w 1/2 finału.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="3" style="font-size:16px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u><u>&nbsp;</u></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.5 regulaminu Kategoria: &quot;ZWYCIĘZCY 1/2 FINAŁU&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.7 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE PIERWSZEJ CZW&Oacute;RKI TURNIEJU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em><span style="text-decoration: none;"><span style="font-weight: normal;">Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie pierwszej czw&oacute;rki turnieju&nbsp;</span></span></em></span><span lang="zxx"><em><span style="text-decoration: none;"><span style="font-weight: normal;">EURO 2024 NIEMCY</span></span></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>10</strong></u><u><strong>&nbsp;zł.</strong></u><strong>&nbsp;</strong></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.6 regulaminu Kategoria: &quot;PIERWSZA CZW&Oacute;RKA TURNIEJU&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.8 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE &quot;KTO LEPSZY W GRUPIE&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie zwycięzc&oacute;w par &ndash; kto lepszy w grupie</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.7 regulaminu Kategoria: PUNTY ZEBRANE ZA TYPOWANIE &quot;KTO LEPSZY W GRUPIE.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.9 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE STRZELC&Oacute;W TURNIEJU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie najlepszych strzelc&oacute;w.&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>10</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.8 regulaminu Kategoria &quot;STRZELCY EURO 2024 NIEMCY&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.10 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE &quot;NAJLEPSZY PIŁKARZ&nbsp;</strong><strong>EURO 2024 NIEMCY</strong><strong>&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie najlepszych piłkarzy</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>10</strong></u><u><strong>&nbsp;zł.</strong></u><strong>&nbsp;</strong></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.9 Kategoria: <strong>&quot;</strong>NAJLEPSZY PIŁKARZ EURO 2024 NIEMCY&quot;.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.11 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE &quot;KTO LEPSZY&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO 2024 NIEMCY&nbsp;</strong><strong>&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie zwycięzc&oacute;w par &ndash; kto lepszy na EURO 2024 NIEMCY (klasyfikacja końcowa).&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.10 regulaminu Kategoria: &quot;KTO LEPSZY NA EURO 2024 NIEMCY&quot;.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.12 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE &quot;</strong><strong>NAJLEPSZA DRUŻYNA W FAZIE GRUPOWEJ&nbsp;</strong><strong>&quot;</strong><strong>EURO 2024 NIEMCY</strong><strong>&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie 3 najlepiej punktujących drużyn w fazie grupowej</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.11 regulaminu Kategoria: &quot;NAJLEPSZA DRUŻYNA W FAZIE GRUPOWEJ&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.13 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE&nbsp;</strong><u><strong>&nbsp;</strong></u><strong>&quot;</strong><span lang="zxx"><strong>PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ&nbsp;</strong></span><span lang="zxx"><strong>Ż</strong></span><span lang="zxx"><strong>&Oacute;ŁTYCH I CZERWONYCH KARTEK</strong></span><strong>&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie 5 piłkarzy turnieju EURO NIEMCY 2024 z największą ilością z&oacute;łtych i czerwonych kartek.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: justify;"><em><span style="text-decoration: none;">Zasady punktowania opisano w punkcie&nbsp;</span><span style="text-decoration: none;">3.</span><span style="text-decoration: none;">12</span><span style="text-decoration: none;">&nbsp;</span><span style="text-decoration: none;">regulaminu</span><span style="text-decoration: none;">&nbsp;Kategoria: &quot;</span><span lang="zxx"><span style="text-decoration: none;">PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ Z&Oacute;ŁTYCH I CZERWONYCH KARTEK</span></span><span style="text-decoration: none;">&quot;.</span></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.14 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE&nbsp;</strong><u><strong>&nbsp;</strong></u><strong>&quot;</strong><strong>ZŁOTA RĘKAWICA</strong><strong>&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO NIEMCY 2024</strong><strong>&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie 3 najlepszych bramkarzy turnieju EURO NIEMCY 2024.&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: justify;"><em><span style="text-decoration: none;">Zasady punktowania opisano w punkcie 3.</span><span style="text-decoration: none;">13</span><span style="text-decoration: none;">&nbsp;</span><span style="text-decoration: none;">regulaminu</span><span style="text-decoration: none;">&nbsp;Kategoria: &quot;</span><span style="text-decoration: none;">ZŁOTA RĘKAWICA</span><span style="text-decoration: none;">&nbsp;</span><span style="text-decoration: none;">NA&nbsp;</span><span style="text-decoration: none;">EURO NIEMCY 2024</span><span style="text-decoration: none;">&quot;</span></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.15 <strong>&nbsp;PUNTY ZEBRANE ZA TYPOWANIE&nbsp;</strong><u><strong>&nbsp;&quot;</strong></u><strong>PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ ASYST</strong><strong>&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO NIEMCY 2024</strong><strong>&quot;</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzcą zostaje ten gracz, kt&oacute;ry zdobędzie największą sumaryczną ilość punkt&oacute;w za wskazanie 3 najlepszych piłkarzy z największa ilością asyst turnieju EURO NIEMCY 2024.&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięzca otrzymuje w drodze losowania <u><strong>zdrapkę o wartości&nbsp;</strong></u><u><strong>5</strong></u><u><strong>&nbsp;zł.</strong></u>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.14 Kategoria: &quot;PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ ASYST NA EURO NIEMCY 2024&quot;</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>4.2.16 <strong>&nbsp;PUNTY ZEBRANE W KLASYFIKACJI RODZIN</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zwycięzcą zostaje ta rodzina, kt&oacute;ra uzyska większą średnią ilość punkt&oacute;w w przeliczeniu na 1 członka rodziny.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><span size="2" style="font-size:15px;"><em>Zwycięska Rodzina otrzymuje w drodze losowania <u><strong>zdrapkę o wartości 5 zł</strong></u><strong>.</strong>&nbsp;</em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Wyznaczona osoba z Rodziny dokonuje losowania zdrapki.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Zasady punktowania opisano w punkcie 3.15 regulaminu Kategoria: &quot;KLASYFIKACJA RODZIN&quot;.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: justify;"><span size="2" style="font-size:15px;"><em><u>Uwagi:&nbsp;</u></em></span></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W imieniu gracza niepełnoletniego NS losowania dokonuje gracz M lub gracz G.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>W zakresie nagr&oacute;d rzeczowych (zdrapki) wyszczeg&oacute;lnionych w punktach od 4.2.1 do 4.2.16 jeżeli co najmniej 2 graczy zdobyło taka samą ilość punkt&oacute;w decyduje losowanie, kt&oacute;re wyłania tylko 1 zwycięzcę.</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>5. WYNIKI KONKURSU I ROZLICZENIE NAGR&Oacute;D</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em>Wyniki konkursu jak i rozliczenie nagr&oacute;d będzie prowadzone w oparciu o załączniki do niniejszego regulaminu &ndash; załączniki nr 1 do nr 1<span lang="zxx">8</span>.</em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>6. USTALENIA DODATKOWE W TRAKCIE TRWANIA KONKURSU</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>EURO 2024 NIEMCY</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><em><span style="font-weight: normal;">Organizator konkursu dopuszcza się w trakcie jego trwania uzupełnienie ww. regulaminu o dodatkowe kategorie przydzielania punkt&oacute;w oraz związanych z tym dodatkowych nagr&oacute;d dla poszczeg&oacute;lnych gracze niniejszego konkursu co zostanie uregulowane odpowiednik aneksem do regulaminu</span></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: justify;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em>Do niniejszego regulaminu dołącza się załączniki:</em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 1 (kategoria 4.1)</u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><span size="2" style="font-size:15px;"><em><strong>SUMARYCZNA ILOŚĆ ZDOBYTYCH PUNKT&Oacute;W WE WSZYSTKICH KATEGORIACH&nbsp;</strong></em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><span size="2" style="font-size:15px;"><em><u>Załącznik nr 2 (kategoria 4.2.1)&nbsp;</u></em></span></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>ZWYCIĘZCA DNIA</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 3 (kategoria 4.2.2)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-align: center;"><span size="2" style="font-size:15px;"><em><span style="text-decoration: none;"><strong>WYKAZ SUMY PUNKT&Oacute;W WE WSZYSTKICH MECZACH&nbsp;</strong></span></em><span lang="zxx"><em><span style="text-decoration: none;"><strong>EURO 2024 NIEMCY</strong></span></em></span><em><span style="text-decoration: none;"><strong>&nbsp;(</strong></span></em><em><span style="text-decoration: none;"><strong>51</strong></span></em><em><span style="text-decoration: none;"><strong>&nbsp;meczy)</strong></span></em></span></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 4 (kategoria 4.2.3)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>WYKAZ 2 DRUŻYN WYCHODZĄCYCH Z POSZCZEG&Oacute;LNYCH GRUPACH</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 5 (kategoria 4.2.4)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>TYPOWANIE DRUŻYN W 1/8 FINAŁU</strong></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;font-weight: normal;text-align: center;"><br></p>
<p style="margin-bottom: 0.21cm;background: transparent;font-weight: normal;text-align: center;"><em><u>Załącznik nr 6 (kategoria 4.2.5)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>TYPOWANIE DRUŻYN W 1/4 FINAŁU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 7 (kategoria 4.2.6)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>TYPOWANIE DRUŻYN W 1/2 FINAŁU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 8 (kategoria 4.2.7)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>TYPOWANIE PIERWSZA CZW&Oacute;RKA TURNIEJU</strong></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 9 (kategoria 4.2.8)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>KTO LEPSZY W GRUPIE</strong></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;font-weight: normal;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 10 (kategoria 4.2.9)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>STRZELCY TURNIEJU</strong></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;font-weight: normal;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 11 (kategoria 4.2.10)</u></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><em><strong>NAJLEPSZY PIŁKARZ</strong></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 12 (kategoria 4.2.11)</u></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>KTO LEPSZY&nbsp;</strong><strong>NA&nbsp;</strong><strong>EURO 2024 NIEMCY</strong></em></p>
<p style="margin-bottom: 0.21cm;background: transparent;font-weight: normal;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 13 (kategoria 4.2.12)</u></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>NAJLEPSZA DRUŻYNA W FAZIE GRUPOWEJ&nbsp;</strong><strong>EURO 2024 NIEMCY</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 14 (kategoria 4.2.13)</u></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ Z&Oacute;ŁTYCH I CZERWONYCH KARTEK</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-align: center;"><em><u>Załącznik nr 15 (kategoria 4.2.14)</u></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><span lang="zxx"><strong>ZŁOTA RĘKAWICA&nbsp;</strong></span><span lang="zxx"><strong>NA&nbsp;</strong></span><span lang="zxx"><strong>EURO NIEMCY 2024</strong></span></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><span lang="zxx"><u>Załącznik nr 1</u></span><span lang="zxx"><u>6</u></span><span lang="zxx"><u>&nbsp;(kategoria 4.2.1</u></span><span lang="zxx"><u>5</u></span><span lang="zxx"><u>)</u></span></em></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><span lang="zxx"><strong>PIŁKARZE Z NAJWIĘKSZĄ ILOŚCIĄ ASYST</strong></span><span lang="zxx"><strong>&nbsp;</strong></span><span lang="zxx"><strong>NA&nbsp;</strong></span><span lang="zxx"><strong>EURO NIEMCY 2024</strong></span></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><span lang="zxx"><u>Załącznik nr 1</u></span><span lang="zxx"><u>7</u></span><span lang="zxx"><u>&nbsp;(kategoria 4.2.1</u></span><span lang="zxx"><u>6</u></span><span lang="zxx"><u>)</u></span></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>PUNTY ZEBRANE W KLASYFIKACJI RODZIN</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;font-weight: normal;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><span lang="zxx"><u>Załącznik nr 1</u></span><span lang="zxx"><u>8</u></span></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><em><strong>SUMARYCZNY WYKAZ ZDRAPEK WRAZ Z KWOTAMI WG KATEGORII</strong></em></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>
<p style="background: transparent;margin-bottom: 0cm;text-decoration: none;text-align: center;"><br></p>