@page "/seederBets"

@using Euro_2024_Management_System.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Globalization

@inject HttpClient Http
@attribute [Authorize]

<div class="text-center">
    <h3 class="mb-4">Wstaw mecz</h3>

    @if (Matches != null && Teams != null && Users != null)
    {
        <div>
            <button class="btn btn-primary" @onclick="AddBets">Dodaj zakłady jeśli nie istnieją</button>
        </div>
    }
    else
    {
        <p>Brak danych.</p>
    }
</div>

@code {
    private List<Match> Matches = new List<Match>();
    private List<Team> Teams = new List<Team>();
    private List<Bet> Bets = new List<Bet>();
    private List<ApplicationUser> Users = new List<ApplicationUser>();

    protected override async Task OnInitializedAsync()
    {
        Teams = await Http.GetFromJsonAsync<List<Team>>("api/team");
        Matches = await Http.GetFromJsonAsync<List<Match>>("api/match");
        Users = await Http.GetFromJsonAsync<List<ApplicationUser>>("api/user");
        Bets = await Http.GetFromJsonAsync<List<Bet>>("api/bet");
    }

    private async Task AddBets()
    {
        var count = 0;
        for (int i = 0; i < Users.Count; i++)
        {
            var userId = Users[i].Id;
            for (int j = 0; j < Matches.Count; j++)
            {
                var matchId = Matches[j].Id;
                var isBetExists = Bets.Any(b => b.MatchId == matchId && b.UserId == userId);
                var newBet = new Bet() { MatchId = matchId, UserId = userId };

                if (!isBetExists)
                {
                    var response = await Http.PostAsJsonAsync("api/bet", newBet);
                    count++;
                    if (response.IsSuccessStatusCode)
                        Console.WriteLine($"Dodano zakład o MatchId: {matchId} oraz UserId: {userId}");
                    else
                        Console.WriteLine($"Wystąpił problem z dodaniem zakładu.");
                }
            }
        }
        Console.WriteLine($"Dodano {count} nowych zakładów :)");
    }
}
