@page "/summarize"

@using Euro_2024_Management_System.Shared.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject HttpClient Http
@attribute [Authorize]

<div class="text-center">
    <h3 class="mb-4">Summarize</h3>

    <button class="btn btn-primary mb-3" @onclick="SummarizeBets">Podsumuj</button>

    <div>
        <span>@(state ? "Zakończono aktualizację" : "Zaktualizuj")</span>
    </div>
</div>

@code {
    private bool state = false;

    private async Task SummarizeBets()
    {
        state = false;
        var response = await Http.PostAsync("api/bet/summarize", null);

        if (response.IsSuccessStatusCode)
        {
            state = true;
        }
    }
}