/* /Components/GroupTable.razor.rz.scp.css */
.table[b-ct6kebgcq9] {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    font-family: 'Arial', sans-serif;
}

    .table th[b-ct6kebgcq9], .table td[b-ct6kebgcq9] {
        vertical-align: middle;
        padding: 12px;
        text-align: center;
    }

    .table th[b-ct6kebgcq9] {
        background-color: #343a40;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

.table-striped tbody tr:nth-of-type(odd)[b-ct6kebgcq9] {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover[b-ct6kebgcq9] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered[b-ct6kebgcq9] {
    border: 1px solid #dee2e6;
}

.align-middle[b-ct6kebgcq9] {
    vertical-align: middle;
}

.text-center[b-ct6kebgcq9] {
    text-align: center;
}
/* /Components/MatchTable.razor.rz.scp.css */
.table[b-jckbci7vab] {
    margin-top: 20px;
    border: 1px solid #dee2e6;
}

    .table th[b-jckbci7vab], .table td[b-jckbci7vab] {
        vertical-align: middle;
        padding: 12px;
    }

    .table th[b-jckbci7vab] {
        background-color: #343a40;
        color: #ffffff;
        text-transform: uppercase;
    }

.table-striped tbody tr:nth-of-type(odd)[b-jckbci7vab] {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover[b-jckbci7vab] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered[b-jckbci7vab] {
    border: 1px solid #dee2e6;
}

.align-middle[b-jckbci7vab] {
    vertical-align: middle;
}

.text-center[b-jckbci7vab] {
    text-align: center;
}

th[b-jckbci7vab], td[b-jckbci7vab] {
    text-align: center;
}

.text-success[b-jckbci7vab] {
    color: #28a745;
    font-weight: bold;
}
/* /Pages/Bets.razor.rz.scp.css */
.table[b-jbz7ux8wm1] {
    margin-top: 20px;
}

    .table th[b-jbz7ux8wm1], .table td[b-jbz7ux8wm1] {
        vertical-align: middle;
    }

.form-inline .form-group[b-jbz7ux8wm1] {
    margin-bottom: 15px;
}

.form-inline .form-control[b-jbz7ux8wm1] {
    width: auto;
}

    .form-inline .form-control.short-input[b-jbz7ux8wm1] {
        width: 10px; 
    }

h3[b-jbz7ux8wm1] {
    font-size: 1.75rem;
    color: #343a40;
}

.btn[b-jbz7ux8wm1] {
    font-size: 0.9rem;
}

p[b-jbz7ux8wm1] {
    margin-bottom: 0.5rem;
}

.btn-primary[b-jbz7ux8wm1] {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success[b-jbz7ux8wm1] {
    background-color: #28a745;
    border-color: #28a745;
}
/* /Pages/SeederMatch.razor.rz.scp.css */
.form-group[b-3rget7o4tm] {
    margin-bottom: 15px;
}

.form-control[b-3rget7o4tm] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-center[b-3rget7o4tm] {
    text-align: center;
}
/* /Pages/SettleMatches.razor.rz.scp.css */
.table[b-uxqs6srbhz] {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    font-family: 'Arial', sans-serif;
}

    .table th[b-uxqs6srbhz], .table td[b-uxqs6srbhz] {
        vertical-align: middle;
        padding: 12px;
        text-align: center;
    }

    .table th[b-uxqs6srbhz] {
        background-color: #343a40;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

.table-striped tbody tr:nth-of-type(odd)[b-uxqs6srbhz] {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover[b-uxqs6srbhz] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered[b-uxqs6srbhz] {
    border: 1px solid #dee2e6;
}

.align-middle[b-uxqs6srbhz] {
    vertical-align: middle;
}

.text-center[b-uxqs6srbhz] {
    text-align: center;
}

.form-control[b-uxqs6srbhz] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* /Pages/Table.razor.rz.scp.css */
.table[b-0g5p7sxz7o] {
    margin-top: 20px;
    border: 1px solid #dee2e6;
    font-family: 'Arial', sans-serif;
}

    .table th[b-0g5p7sxz7o], .table td[b-0g5p7sxz7o] {
        vertical-align: middle;
        padding: 12px;
    }

    .table th[b-0g5p7sxz7o] {
        background-color: #343a40;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

.table-striped tbody tr:nth-of-type(odd)[b-0g5p7sxz7o] {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover[b-0g5p7sxz7o] {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-bordered[b-0g5p7sxz7o] {
    border: 1px solid #dee2e6;
}

.align-middle[b-0g5p7sxz7o] {
    vertical-align: middle;
}

.text-center[b-0g5p7sxz7o] {
    text-align: center;
}

h3[b-0g5p7sxz7o] {
    font-family: 'Arial', sans-serif;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

p[b-0g5p7sxz7o] {
    font-family: 'Arial', sans-serif;
    color: #343a40;
    text-align: center;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-dfcourhvaf] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dfcourhvaf] {
    flex: 1;
}

.sidebar[b-dfcourhvaf] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dfcourhvaf] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dfcourhvaf]  a, .top-row[b-dfcourhvaf]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-dfcourhvaf]  a:hover, .top-row[b-dfcourhvaf]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-dfcourhvaf]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dfcourhvaf] {
        display: none;
    }

    .top-row.auth[b-dfcourhvaf] {
        justify-content: space-between;
    }

    .top-row[b-dfcourhvaf]  a, .top-row[b-dfcourhvaf]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dfcourhvaf] {
        flex-direction: row;
    }

    .sidebar[b-dfcourhvaf] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dfcourhvaf] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-dfcourhvaf]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-dfcourhvaf], article[b-dfcourhvaf] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-588qoyfo9f] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-588qoyfo9f] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-588qoyfo9f] {
    font-size: 1.1rem;
}

.oi[b-588qoyfo9f] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-588qoyfo9f] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-588qoyfo9f] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-588qoyfo9f] {
        padding-bottom: 1rem;
    }

    .nav-item[b-588qoyfo9f]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-588qoyfo9f]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-588qoyfo9f]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-588qoyfo9f] {
        display: none;
    }

    .collapse[b-588qoyfo9f] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-588qoyfo9f] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
