.form-group[b-3rget7o4tm] {
    margin-bottom: 15px;
}

.form-control[b-3rget7o4tm] {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.text-center[b-3rget7o4tm] {
    text-align: center;
}
