@using Microsoft.AspNetCore.Components.Authorization

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Euro_2024_Management_System</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="table">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tabela
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grupy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Mecze
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Typy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prizes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nagrody
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Regulamin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seeder">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj mecze
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seederUserProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj role gracza
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="seederBets">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Dodaj zakłady
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Testy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="summarize">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Podsumuj mecze
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
