@using Euro_2024_Management_System.Shared.Models
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject HttpClient Http

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Euro_2024_Management_System</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Start
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="table">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Tabela
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="oi oi-people" aria-hidden="true"></span> Grupy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="matches">
                <span class="oi oi-calendar" aria-hidden="true"></span> Mecze
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bets">
                <span class="oi oi-list" aria-hidden="true"></span> Typy
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="specialbets">
                <span class="oi oi-star" aria-hidden="true"></span> Typy specjalne
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rules">
                <span class="oi oi-book" aria-hidden="true"></span> Regulamin
            </NavLink>
        </div>

        @* W przypadku administratora *@
        @if (isAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="seeder">
                    <span class="oi oi-plus" aria-hidden="true"></span> Dodaj mecze
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="seederBets">
                    <span class="oi oi-cart" aria-hidden="true"></span> Dodaj zakłady
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="summarize">
                    <span class="oi oi-graph" aria-hidden="true"></span> Podsumuj mecze
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="special-bets-settle">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Podsumuj typy specjalne
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="settle">
                    <span class="oi oi-pencil" aria-hidden="true"></span> Wpisz wyniki meczy
                </NavLink>
            </div>
        }
    </nav>
</div>


@code {
    private bool isAdmin = false;
    private bool collapseNavMenu = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated ?? false)
        {
            var response = await Http.GetAsync("api/User/is-admin");

            if (response.IsSuccessStatusCode)
            {
                isAdmin = await response.Content.ReadFromJsonAsync<bool>();
            }
        }
    }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}